/*-- scss:defaults --*/

// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Nunito:400,700,400italic,700italic);

// Override theme settings
$body-bg: #363f41 !default;
$body-color: #f5f5f5 !default; // from settings.scss

$font-family-sans-serif: "Nunito", sans-serif !default;
$link-color: #74c947 !default;
$presentation-heading-font: "Nunito", sans-serif !default;
$presentation-heading-text-shadow: none !default;
$presentation-heading-letter-spacing: -0.03em !default;
$presentation-heading-text-transform: none !default;
$selection-bg: #74c947 !default;

// Change text colors against light slide backgrounds
$light-bg-text-color: #9471f6 !default;

// input panel
$input-panel-bg: rgba(233, 236, 239, 0.2) !default;

// code blocks
$code-block-bg: transparent !default;
